footer {
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: wheat;
}
body {
  background-color: #a4b99f;
  font-family: "Courier Prime", monospace;
  background: url(backgroundpic.jpeg);
  /* background-size: cover; */
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
div {
  text-align: center;
}

body {
  text-align: center;
  margin-bottom: 100px;
  padding: 0;
}
h1 {
  padding-top: 100px;
}

.maxNumber {
  background-color: rgb(9, 100, 32);
}

.minNumber {
  background-color: red;
}
ol {
  list-style-position: inside;

  text-align: center;
}
li {
  text-align: center;
  list-style-position: inside;
}
.rightDiv {
  float: right;

  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  /* padding: 20px; */

  font-size: 20px;
}

#mobileButton {
  background-color: rgb(218, 27, 27);
  position: inherit;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
  color: white;
  outline: none;
  cursor: pointer;
}
.center {
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
#navBar {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 5px 0px;
}
header .logo {
  position: relative;
  font-weight: 300;
  color: wheat;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header ul {
  position: relative;
  display: flex;
  justify-self: center;
  align-items: center;
}
header ul li {
  padding-right: 15px;
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0, 15px;
  text-decoration: none;
  color: #fff;
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
}

.bg-model {
  width: 105%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  position: relative;
  padding-top: 15px;
  width: 350px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
}
.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 40px;
  transform: rotate(40deg);
  cursor: pointer;
}

#myBtn {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #ffffff;
  background-color: black;
  text-align: center;
  transition: all 0.2s;
}

#checkWhy {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #ffffff;
  background-color: black;
  text-align: center;
  transition: all 0.2s;
}
